html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color:black;
}

header{
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: palegoldenrod;
    display: flex;
    justify-content: space-between;
}

h1{
    padding:0px;
    margin:0px;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

li{
    margin-left: 20px;
}

.main{
    display: flex;
}

.content{
    width: 70%;
    background: lightgray;
    min-height: 500px;
}

.sidebar{
    width: 30%;
    background: darkgray;
    color:white;
    min-height: 500px;
}

p{
    margin:20px;
}

.blog-post{
    margin:10px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

p img{
    float:left;
    margin: 0px 10px 10px 0px;
}



